<h3>日記</h3>
 
    <table>
      <thead>
        <tr>
          <th>投稿日</th>
          <th>タイトル</th>
          <th>実施日</th>
          <th>開始時間</th>
          <th>結果</th>
          <th>内容</th>
          <th>公開・非公開</th>
        </tr>
      </thead>
 
      <tbody>
        <% @diarys.each do |diary| %>
          <tr>
            <td><%= diary.created_at %></td>
            <td><%= diary.title %></td>
            <td><%= diary.play_day %></td>
            <td><%= diary.start_time %></td>
            <td><%= diary.result %></td>
            <td><%= diary.discription %></td>
            <td><%= diary.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
