<%= render "shared/mypage_nav" %>
<div class="container border border-5 border-warning rounded">
  <div class="row">
    <div class=" col">
      <h1><%= @user.username %> さんのマイページ</h1>
      <ul class="list-group list-group-horizontal justify-content-end">
        <li class="list-group-item border-0">
          <%= link_to "フォロー中" + @user.active_relationships.count.to_s, follows_user_path(@user.id),class: "btn btn-warning rounded-pill text-white" %>
        </li>
        <li class="list-group-item border-0">
          <%= link_to "フォロワー" + @user.passive_relationships.count.to_s, followers_user_path(@user.id), class: "btn btn-warning rounded-pill text-white" %>
        <li/>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col col-12 ">
      <strong class="h2 text-decoration-underline ">プロフィール</strong>
    </div>
    <div class="col">
      <% if @user.profile %>
        <h4><%= @user.profile %></h4>
      <% else %>
        <h4>pushを押して、プロフィールを作成してみましょう!</h4>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <strong class="text-decoration-underline h3">あなたのレビュー数 <%= @user.reviews.count %></strong>
      <% @reviews.each do |review| %>
        <div class="col-12">
          <%= l review.created_at, format: :default %>
        </div>
        <div class="col-12">
          <%=link_to review.title, review_path(review.id), class: "btn btn-secondary rounded text-white" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class"row">
    <div class="col-12">
      <strong class="text-decoration-underline h3">あなたの日記数 <%= @user.diaries.count %></strong>
      <% @diary.each do |diary| %>
        <div class="col-12">
          <%= l diary.created_at, format: :default %>
        </div>
        <div class="col-12">
          <p><%=link_to diary.title, diary_path(diary.id), class: "btn btn-secondary rounded text-white" %></p>
        <% end %>
    </div>
  </div>
</div>
