<header class="navbar navbar-expand-md p-3 text-white bg-warning">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" >
      <strong href="/" class="navbar-brand px-2 text-white">謎レビュ</strong>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
        <span class="fa-solid fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav col-8 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="" class="nav-link px-2 text-white">謎レビュとは</a></li>
          <li><a href="/reviews" class="nav-link px-2 text-white">レビュー</a></li>
          <% if user_signed_in? %>
            <li><a href="/mypage" class="nav-link px-2 text-white">マイページ</a></li>
            <li><a href="/diaries" class="nav-link px-2 text-white">日記</a></li>
          <% end %>
        </ul>
        <% if current_page?(reviews_path) %>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <%= search_form_for @q, url: reviews_path, method: :get, class:"search-form" do |f| %>
              <%= f.search_field :title_cont, placeholder: 'タイトルから探す', class:'input-box' %>
              <%= f.button type: "submit", class: 'btn btn-outline-light me-2' do%>
                検索
              <% end %>
            <% end %>
          </form>
        <% end %>
      </div>
      <div class="col-auto">
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path(current_user), method: :delete, class: 'btn btn-outline-light me-2 text-end' %>
        <% else %>
          <%= link_to "ログイン", user_session_path, class: 'btn btn-outline-light me-2' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-warning text-end' %>
        <% end %>
      </div>
    </div>
  </div>
</header>
