<div class="container border border-5 border-warning rounded mx-md-5 mb-3 mt-2">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= link_to "Back", :back, class: "btn btn-light" %>
    </div>
  </div>
  <div class="row"> 
    <div class="col-md-6 offset-md-3">
      <h2 class="text-decoration-underline mt-3">ログイン</h2>
    </div>
  </div>
  <div class="row">
    <form class="form-horizontal">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="col-md-6 offset-md-3 field form-group w-50 mt-5">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class=" col-md-6 offset-md-3 field form-group w-50 mt-5">
    <%= f.label :password, class: "form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="col-md-6 offset-md-3 field form-group w-75 mt-5">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="row actions mt-2">
    <div class="col-md-6 offset-md-3">
      <%= f.submit "Log in", class: "btn btn-outline-warning" %>
    </div>
  </div>
<% end %>
<div class="row mt-3 mb-5">
<div class="col-md-6 offset-md-3">
<%= render "devise/shared/links" %>
</div>
</div>
