<% if user_signed_in? %>
<div class="text-center pt-3">
  <p><%= link_to "レビューの新規登録", new_review_path, class: "btn btn-outline-light" %></p>
</div>
<% end %>
<div class="container pt-2">
  <div class="card-deck" >
    <% @search_reviews.each do |review| %>  
      <div class="card-header text-white bg-secondary mt-2">
        <div class="row">
          <div class="col-12">
            <h5><%= l review.created_at, format: :default %> <%= review.title %></h5>
          </div>
          <div class="col-12">
          <div class="d-flex justify-content-between">
            <h6>開催場所 <%= review.address %></h6>
            <h6 class="float-right">脱出に<%= review.result ? '成功' : '失敗' %>した<%= review.user.username %>さんのレビュー</h6>
          </div>
        </div>
      </div>
      </div>   
      <div class="card text-white bg-secondary">
        <div class="row g-0">
          <div class="col-12 col-md-4">
            <%= image_tag review.image.variant(resize_to_fill: [250, 200]), class: "card-img-top img-responsive img-thumbnail" %>
          </div>
          <div class="col-12 col-md-1"></div>
          <div class="col-6 col-md-2">
            <p class="card-text">
              <h3>体験日</h3>
              <h4><%= l review.play_day, format: :short %></h4>
              <h3>制限時間</h3>
              <h4><%= review.timelimit %>分</h4>
              <h3>プレイ人数</h3>
              <h4><%= review.players %>人<h4>
            </p>
            <% if user_signed_in? %>
              <% if current_user.id == review.user_id %>
                <%= link_to "レビューの削除", review, method: :delete, class:"btn btn-danger", data: { confirm: "本当に削除しますか？" } %>
              <% else %>
                <% if review.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
                  <p><%= button_to "興味なし", review_favorites_path(review.id), class: "btn btn-warning", method: :delete %></p>
                <% else %>
                  <p><%= button_to "興味あり", review_favorites_path(review.id), class: "btn btn-light", method: :post %></p>
                <% end %>
                <% if review.user.followed_by?(current_user) %>
                  <p><%=button_to "フォロー済み", user_relationships_path(review.user.id), method: :delete, class: "btn btn-secondary" %></p>
                <% else %>
                  <p><%=button_to "フォローする", user_relationships_path(review.user.id), method: :post, class: "btn btn-secondary" %></p>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="col-6 col-md-2">
            <p class="card-text">
              <h3>料金</h3>
              <h4>¥<%= review.price %></h4>
              <h3>開始時間</h3>
              <h4><%= l review.start_time, format: :short %><h3>
              <h3>友人・知り合い</h3>
              <h4><%= review.friends %>人<h4>
            </p>
            <% if user_signed_in? %> 
              <%= link_to "MAP", review_path(review.id), class: "btn btn-outline-light" %>
            <% end %>
          </div>
          <div class="col-12 col-md-3">   
            <div class="card-body">
              <h4 class="card-title">総合評価
                <div id="star-rate<%= review.id %>"></div>    
                <script>
                  $('#star-rate<%= review.id %>').raty({
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf  : '<%= asset_path('star-half.png') %>',
                    half      : true,
                    readOnly: true,
                    score: <%= review.review_1 %>
                  });
                </script>
              </h4>
              <ol class="list-group">
                <li class="list-group-item list-group-item-dark ">
                  <div class="fw-bold">1.タイプ</div>
                  <h4 class="text-center"><%= review.review_2 %></h4>
                </li>
                <li class="list-group-item list-group-item-dark ">
                  <div class="fw-bold">2.ストーリー</div>
                  <h4 class="text-center"><%= review.review_3 %></h4>
                </li>
                <li class="list-group-item list-group-item-dark ">
                  <div class="fw-bold">3.満足度</div>
                  <h4 class="text-center"><%= review.review_4 %></h4>
                </li>
                <li class="list-group-item list-group-item-dark">
                  <div class="fw-bold">4.難しさ</div>
                  <h4 class="text-center"><%= review.review_5 %></h4>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-white bg-secondary pb-2">
        <h6>タグ<br><%= review.tags.map(&:name).join(', ') %></h6>
      </div>
    <% end %>
  </div>
</div>
