<div class="container card-deck" >
  <% @review.each do |review| %>
    <div class="card text-white bg-secondary ">
      <div class="card-header">
        <h6><%= l review.created_at, format: :default %> <%= review.title %> 脱出に<%= review.result ? '成功' : '失敗' %>した<%= review.user.username %>さんのレビュー</h6>
      </div>
      <div class="row g-0">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <%= image_tag review.image.variant(resize_to_fill: [250, 200]).processed, class: "card-img-top img-responsive" %>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
        <p class="card-text">
          <h3>PLACE</h3>
          <h4><%= review.place %></h5>
          <h3>PLAYDAY</h3>
          <h4><%= l review.play_day, format: :short %></h5>
          <h3>STARTTIME</h3>
          <h4><%= l review.start_time, format: :short %><h3>
        </p>
        <% if user_signed_in? %>
          <% if current_user.id == review.user_id %>
            <%= link_to "レビューの削除", review, method: :delete, class:"btn btn-danger", data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        <% end %> 
      </div> 
      <div class="col-md-3">   
          <div class="card-body">
            <h4 class="card-title">REVIEW
                <div id="star-rate<%= review.id %>"></div>    
                <script>
                  $('#star-rate<%= review.id %>').raty({
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf  : '<%= asset_path('star-half.png') %>',
                    half      : true,
                    readOnly: true,
                    score: <%= review.review_1 %>,
                  });
                </script>
            </h4>
            <ol class="list-group">
              <li class="list-group-item list-group-item-dark ">
                <div class="fw-bold">1.タイプ</div>
                <h4 class="text-center"><%= review.review_2 %></h4>
              </li>
              <li class="list-group-item list-group-item-dark ">
                <div class="fw-bold">2.ストーリー</div>
                <h4 class="text-center"><%= review.review_3 %></h4>
              </li>
              <li class="list-group-item list-group-item-dark ">
                <div class="fw-bold">3.満足度</div>
                <h4 class="text-center"><%= review.review_4 %></h4>
              </li>
              <li class="list-group-item list-group-item-dark ">
                <div class="fw-bold">4.難しさ</div>
                <h4 class="text-center"><%= review.review_5 %></h4>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-white bg-secondary">
      <h6>タグ<br><%= review.tags.map(&:name).join(', ') %></h6>
    </div>
  <% end %>
</div>

